.header {
  display: flex;
  align-items: center;
  height: var(--header-height);
  background-color: #ffffff;
  border-bottom: 1px solid #f1f1f2;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 16px;
}

.header__buttons {
  display: flex;
  gap: 16px;
  justify-self: end;
}
