.side-bar {
  display: grid;
  grid-column: 1 / 4;
  height: calc(100vh - var(--header-height));
  padding: 24px 0 32px;
  color: #999999;
  position: sticky;
  top: var(--header-height);
}

.side-bar__text {
  font-size: 14px;
  margin-bottom: 16px;
}

.side-bar__btn {
  width: 100%;
}

.menu {
  margin-left: -12px;
}

.menu__btn {
  height: 40px;
  padding: 0 8px;
}

.menu__btn:hover {
  background-color: #fafafa;
}

.menu__icon {
  font-size: 24px;
}
