.footer {
  font-size: 12px;
  align-self: end;
}

.footer__menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.footer__link {
  color: inherit;
  font-size: 12px;
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
}
