.search {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--search-height);
  padding-left: 18px;
  background-color: #f1f1f2;
  border-radius: var(--search-height);
  position: relative;
  overflow: hidden;
}

.search__input,
.search__submit {
  position: relative;
  z-index: 1;
}

.search__input {
  flex-grow: 1;
  height: 100%;
  font-size: 14px;
}

.search__input:focus ~ .search__border {
  display: block;
}

.search__border {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #999999;
  border-radius: var(--search-height);
  z-index: 0;
}

.search__splitter {
  width: 1px;
  height: 24px;
  background-color: #999999;
}

.search__submit {
  height: calc(100% - 2px);
  padding-left: 8px;
  padding-right: 16px;
  margin: 1px;
  border-radius: 0 50% 50% 0;
  cursor: pointer;
}

.search__submit:hover {
  background-color: #e9e9e9;
}

.search__icon {
  width: 20px;
  height: 20px;
  fill: #999999;
}
